.container{
    display: flex;
    flex-direction: row;
    background: #1f123b;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8%;
    width: 100%;
    margin-bottom: auto;
}

.three-bars{
    color: rgb(228, 213, 213);
    width: 3rem;
    height: 3rem;
}

.hamburger {
    background: #1f123b;
    border: 0px solid #999;
    float: left;
    font-weight: bold;
    line-height: 34px;
    height: 54px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}