body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  /* display: table; */
}

.status {
  margin-bottom: 10px;
    /* left: 51px; */
    /* height: 58px; */
    width: 100%;
}

.square {
  background: #fff;
  border: 0.5px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: darkgoldenrod;
}

.square:focus {
  outline: medium;
  background-color: rgb(0, 128, 255);
  }

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 96px;
}

.winSquare {
  background:#61DAFB
}


.game-info {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* flex-direction: inherit; */
}

.board{
  height: 295px;
  width: 269px;
  background: white;
}

.control {
  position: relative;
  bottom: -307px;
  display: block;
  right: 342px;
  height: 50px;
}

.control-back {
  width: 70px;
  height: 40px;
  margin-right: 2px;
}

.control-new-board{
  width: 114px;
  height: 40px;
}

.m-container{
  background: white;
  flex-direction: column;
  max-width: 100%;
}

.box-it1{
  background: rgb(21, 178, 221);
}


.box-it2{
  background: rgb(141, 128, 128);
}

.per-Col{
  flex-grow: 1;
}

.no-margin
{
  margin: 0px !important;
}